.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #005EB8;
}

.imageWrapper {
    position: relative;
    width: 100px; 
    aspect-ratio: 2 / 1; 
    background-color: #fff;
    
  }
  
.image {
    object-fit: contain;
    padding: 0 5px;
}