.resultsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px; 
    justify-content: flex-start;
    margin: 42px 0 42px 300px; 
    max-width: fit-content;
    padding: 10px;
}

.resultsTitle {
    font-size: 2rem;
    font-weight: bold;
}

.resultsText {
    font-size: 1.5rem;
}