.resultsContainer {
    display: flex;
    flex-direction: column;
    gap: 14px; 
    height: 400px;
    justify-content: flex-start;
    margin: 12px 0;
    max-width: 100%;
    padding: 10px;
}

.resultsTitle {
    font-size: 36px;
    font-weight: bold;
}

.resultsText {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) { 
    .resultsContainer {
        margin: 12px 0 12px 40px; 
    }
}
  
/* Tablets landscape + Small Desktop */
@media (min-width: 1025px) and (max-width: 1200px) { 
    .resultsContainer {
        margin: 12px 0 12px 40px; 
    }
}
  
 /* Desktop */
@media (min-width: 1201px) { 
    .resultsContainer {
        margin: 12px 0 12px 300px; 
    }
}